<div id="<%= dom_id establishment %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= establishment.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= establishment.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Address:</strong>
    <%= establishment.address %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Latitude:</strong>
    <%= establishment.latitude %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Longitude:</strong>
    <%= establishment.longitude %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Phone:</strong>
    <%= establishment.phone %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Rating:</strong>
    <%= establishment.rating %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Establishment type:</strong>
    <%= establishment.establishment_type %>
  </div>
</div>
